.footer{
    padding-top: 100px;
    background: transparent;
}

.footer_content{
    margin:  30px 100px;
}
.logo_footer{
    width: 10rem;
    padding-bottom: 30px;

}


@media screen and (max-width: 993px) {
    .footer_content{
        margin:  30px 0 ;
    }
    
}