.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    text-align: center;
}
.ImageWrapper {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.Container img {
    width: 100%;
    height: auto;
}
.Content {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}
.Content h1 {
    font-family: Playfair Display, "Playfair Display-fallback", Lora, "Lora-fallback", Georgia, serif;
    font-size: 3rem;
}
.Content p {
    font-family: Lora, "Lora-fallback", Georgia, Times, serif;
    font-size: 18px;   
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img {
    display: block;
    margin: 0 auto;
}


/* Testimonial  */


/* Testimonial Slider Styles */


.Slider {
    margin-top: 80px;
}
.Title {
    text-align: center;
    font-family: Playfair Display, "Playfair Display-fallback", Lora, "Lora-fallback", Georgia, serif;
    font-weight: 800;
    font-size: 44px;
}
.Testimonials {
    margin: 100px 0;
}
.TestimonialSlider {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px auto;
    overflow: hidden;
}
.Testimonial {
    flex: 0 0 33.33%;
    padding: 20px;
    text-align: center;
    transition: transform 0.8s ease;
}
.Testimonial img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
}
.Testimonial h3 {
    margin-top: 10px;
    font-size: 18px;
}
.Testimonial p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
.Buttons {
    display: flex;
    justify-content: center;
}
.NavButton {
    color: #000;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .Testimonial {
        flex: 0 0 50%;
    }
}
@media (max-width: 768px) {
    .TestimonialSlider {
        width: 90vw;
    }
    .Testimonial {
        flex: 0 0 100%;
    }
    .Title {
        font-size: 36px;
    }
    .Testimonial h3 {
        font-size: 16px;
    }
    .Testimonial p {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .Slider {
        margin-top: 50px;
    }
    .Title {
        font-size: 30px;
    }
}







/* Media query for responsiveness */
@media (max-width: 768px) {
    .TestimonialSlider {
        padding: 10px 0;
    }

    .Testimonial img {
        width: 80px;
    }
}

@media (max-width: 990px) {
    .Content h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .Title{
        font-size: 35px;
    }
}
@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        padding: 40px 10px;
    }
    .ImageWrapper, .Content {
        max-width: 100%;
        padding: 10px;
        text-align: center;
    }
    .Content {
        text-align: center;
    }
    .Content h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .Title{
        font-size: 30px;
    }
}
@media (max-width: 480px) {
    .Container {
        flex-direction: column;
    }
    .Content {
        order: 1;
    }
    .ImageWrapper {
        order: 2;
    }
    .Title{
        font-size: 25px;
    }
}
