.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.formContainer {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}


.error{
    color: red;
}

.Content h1{
    color: #162127;
    font-size: 30px;
    margin-bottom: 15px;
}

.Content p{
    color: #162127;
    font-size: 15px;
    margin-bottom: 30px;
}

  
.imageContainer {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}
  
.imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.contactForm {
    display: flex;
    flex-direction: column;
}
  
.contactForm label {
    margin-bottom: 10px;
    color: #333;
}
  
.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.contactForm input:focus,
.contactForm textarea:focus,
#category_select:focus {
    border-color: #000000;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}
  
.fileLabel input {
    padding: 0;
}
  
.contactForm textarea {
    resize: vertical;
}
  
.contactForm button {
    padding: 10px;
    background-color: #dc3c31;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
  
.contactForm button:hover {
    background-color: #d12317;
}

#category_select{
    margin-top: 10px;
}

@media (max-width: 900px) {
    .imageContainer {
      display: none;
    }
}
  
@media (max-width: 768px) {
    .formContainer,
    .imageContainer {
      max-width: 100%;
      padding: 10px;
    }
  
    .contactForm button {
      padding: 8px;
    }
}
  