.statistique {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.card {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content .number {
    font-size: 2em;
    font-weight: bold;
}

.card-content .word {
    font-size: 1em;
    color: #162127;
}

.chartContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 30px auto;
    width: 70vw;
}

.chartWrapper {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .chartContainer {
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 250px;
    }
    .card-content .number {
        font-size: 1.5em;
    }
}
